<div class="text-center">
  <%= form_for(@topic, url: chose_new) do |f| %>
   <%= f.error_messages! %>

   <div class="field form-inline">
     <%= f.label :title, class: "sr-only" %>
     <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
   </div><br />
   <div class="field form-inline">
     <%= f.label :content, class: "sr-only" %>
     <%= f.text_field :content, placeholder: "コメント", class: "form-control" %>
   </div><br />
   <div class="field form-inline">
    <%= f.label :topic_img %>
    <%= f.file_field :topic_img, class: "center-block fileupbtn" %>
    <%= f.hidden_field :topic_img_cache %>
   </div><br />
   <div class="actions form-inline">
     <%= f.submit "Posting", class: 'btn btn-primary' %>
   </div>
  <% end %>
</div>  