<% @topics.each do |topic| %>
  <div class="card-block">
    <h3 class="card-title">
      <%= link_to topic_path(topic) do %>
        <h3 class="text-center title-link"><%= topic.title %></h3>
      <% end %>
    </h3>
    <div class="postuser">
      <%= profile_img(topic.user) %>
      <%= topic.user.name %>
    </div>
    <p class="card-text"><%= topic.content %></p>
    <div class="pics">
      <%= image_tag(topic.topic_img, class: "timg") %>
    </div>
    <div class="float-left">
      <div class="pushb">
        <p class="comment"><%= link_to 'コメントする', topic_path(topic), class: "btn btn-default" %></p>
        <p class="edit"><%= link_to 'Edit', edit_topic_path(topic.id), class: "btn btn-default", remote: true %></p>
      </div>
    </div><br>
    <div class="float-left">
     <p class="delete"><%= link_to 'トピックを削除', topic_path(topic.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div><br>
<% end %>
