<section class="container">
  <div class="row text-center">
    <div id="topic-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><br>
  </div><br>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-2">
      <%= notice %>
      <%= link_to 'New Topic', new_topic_path, class: "btn btn-default btn-lg btn-block", remote: true %><br>
      </div>
    </div>
    
    <div class="col-md-6 col-lg-offset-2">
      <div class="card">

        <%= render "index" %>        
      
      </div>
    </div>

    <div class="col-lg-4">
      <div class="well sidebar-nav navbar-fixed-side ">
        <ul class="nav nav-list">
          <li class="nav-header text-center">フォローしてる人一覧</li><br>
          <% @users.each do |user| %>
            <% if current_user.following?(user) %>
              <span class="folloewers">
                <%= profile_img(user) %>
                <% if user.name == nil %>
                  <p>名前未定</p>
                <% end %>
                <p><%= user.name %></P>
              </span>
            <% end %>
          <% end %>
        </ul>
      </span>
    </div>

  </div>
</section>