<section class="container">
  <div class="row text-center">
    <%= link_to 'New Topic', new_topic_path, class: "btn btn-default btn-lg btn-block" %><br>
  </div><br>
  <div class="row">
    <div class="col-offset-4 col-md-4">
      <div class="card">
        <% @topics.each do |topic| %>
          <div class="card-block">
            <h4 class="card-title">
              <%= link_to topic_path(topic) do %>
                <%= topic.title %>
              <% end %>
            </h4>
            <%= topic.user.name %>
            <%= profile_img(topic.user) %>
            <div class="pics">
              <%= image_tag(topic.topic_img, class: "timg") %>
            </div>
            <p class="card-text"><%= topic.content %></p>
            <div class="float-right">
              <div class="btn-group ">
                <%= link_to 'Edit', edit_topic_path(topic.id), class: "btn btn-default" %>
                <%= link_to 'Destroy', topic_path(topic.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</section>
