<div class="container">
  <div class ="row child">
    <h2 class="flash" id="notice"><%= notice %></h2>

    <div class="col-sm-6 col-lg-offset-2">
      <div class="topic-text">
        <p class="left"><strong>タイトル</strong></p>
        <p class="left"><%= @topic.title %></p>
        <p class="left"><%= image_tag(@topic.topic_img, class: "show-img") %></p>
        <p class="left"><strong>内容</strong>
        <p class="left"><%= @topic.content %></p>
        <p class="float-right">
          <strong>作成時間:</strong>
          <%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %>
        </p>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
    </div>

    <div class="col-sm-4">
      <h3>コメント一覧</h3>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
      </div>
      <% if current_user.id == @topic.user_id %>
        <%= link_to '編集', edit_topic_path(@topic) %> 
      <% end %>
      <%= link_to '戻る', topics_path %>
    </div>
    <div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    
  </div>
</div>
