<div class="container">
  <h4 class="col-offset-6">
    <%= link_to "#{@user.name}へメッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @user.id), class:"btn btn-default" %>
  </h4>
  <div class="col-sm-4 col-sm-offset-1">
    <h4> 
      <%= profile_img(@user) %><%= @user.name %>のフォロワー <%= @user.followers.count %>人
    </h4><br>
    <% @user.followers.each do |follower| %>
      <% if follower.id != current_user.id %>
        <div class="card">
          <div class="item">
            <%= link_to profile_img(follower), user_path(follower), class: "linkname" %>
            <%= follower.name %><br>
          </div>
          <ul class="btns">
            <li>
              <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: follower.id), class: "btn btn-default message", method: 'post'%>
            </li>
            <li>
              <%= render partial: 'follow_form', class: "follow",locals: { user: follower } if signed_in?   %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-sm-4 col-sm-offset-2">
    <h4> 
      <%= profile_img(@user) %><%= @user.name %>がフォローしている人 <%= @user.followers.count %>人
    </h4><br>
    <% @user.followed_users.each do |follower| %>
      <% if follower.id != current_user.id %>
        <div class="card">
          <div class="item">
            <%= link_to profile_img(follower), user_path(follower), class: "linkname" %>
            <%= follower.name %><br>
          </div>
          <ul class="btns">
            <li>
              <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: follower.id), class: "btn btn-default message", method: 'post'%>
            </li>
            <li>
              <%= render partial: 'follow_form', class: "follow",locals: { user: follower } if signed_in?   %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>  

</div>

 